.container {
	background-color: purple;
}
.content {
	width: 80%;
	padding: 5px;
	margin: 10%;
	font-size: medium;
	flex-shrink: inherit;
	font-weight: bold;
	flex-wrap: wrap;
	word-break: break-all;
	word-wrap: inherit;
	color: lightpink;
}
h1 {
	flex-wrap: wrap;
	font-size: medium;
}
