.container {
	background-color:whitesmoke;
}
.content {
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: rgb(20, 122, 139);
	padding: 3px;
	width: 60%;
	justify-content: center;
	color: ivory;
}
#display {
	background-color: grey;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 20px;
	color: aqua;
	width: 50%;
	justify-content: top;
}
textarea {
	color: white;
}
