.container {
	background-color: purple;
}
.content {
	width: 80%;
	padding: 2px;
	margin: 10%;
}

/* button {
	padding: 5%;
} */
#putPassHTML {
	font-size: small;
	flex-shrink: inherit;
	color: pink;
	font-weight: bold;
}
